= link_to 'Misja', mission_path
= link_to 'Contact', contact_path
= link_to 'About us', about_path
= link_to 'Career', career_path
- if current_user
	= link_to 'Wyloguj', destroy_user_session_path, method: :delete
	= link_to 'Zamowienia', user_orders_path(current_user)
- else
	= link_to 'Zaloguj', new_user_session_path
